GOOGLE_SERVICE_ACCOUNT_EMAIL=your_service_account_email@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
GOOGLE_PROJECT_ID=your_project_id
GOOGLE_DRIVE_FOLDER_ID=your_drive_folder_id
DATABASE_PATH=./audit.db
